<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="pattern" value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>
    <logger name="de.charite.compbio.jannovar" level="WARN"/>
    <logger name="org.phenopackets.phenopackettools" level="WARN"/>

    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <root>
        <appender-ref ref="STDERR" />
    </root>
</configuration>